.add-to-cart-outer {
  width: 100%;
  float: left;
  padding: 40px 0;
}
.add-to-cart-inner {
  width: 30%;
  float: left;
  margin-right: 15px;
  background: #dcdcdc;
  border: solid 1px #ccc;
  padding: 20px;
  border-radius: 5px;
}
.prod-img {
  width: 100%;
  float: left;
}
.prod-img img {
  max-width: 100%;
}
.add-to-cart-inner button {
  background: #333;
  border: navajowhite;
  padding: 10px 30px;
  color: #fff;
  cursor: pointer;
}
header {
  width: 100%;
  float: left;
}
header nav ul li {
  list-style: none;
}
header nav ul li img {
  width: 4%;
  cursor: pointer;
}